{{#each this}}
<div class="photo-card">
    <a href="{{largeImageURL}}">
        <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" height="240" width="360" />
    </a>
    <div class="info overlay">

        <p class="info-item">
            <b>Likes: <br> </b>
            {{likes}}
        </p>

        <p class="info-item">
            <b>Views: <br></b>
            {{views}}
        </p>

        <p class="info-item">
            <b>Comments:<br> </b>
            {{comments}}
        </p>

        <p class="info-item">
            <b>Downloads:<br> </b>
            {{downloads}}
        </p>

    </div>

</div>
{{/each}}